button{
    width: 56px;
    height: 60px;
    
    padding:120;
}
#cuerpo{
    
    width:50%;
    
    background-color: gray;
    margin-left:23%;
    padding: 30px;

}
input{
    height: 60px;
    width: 22.5ch;
    font-size: larger;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(49, 215, 7);
    background-color: black;
}

#btn0{ 
    
    width: 24ch;
    background-color: cadetblue;
    color:white ;
    height: 55px;
   
}
#btnigual{
    background-color: brown;
    color: white;
    height: 55px;
    width: 55px;

    
}
#btn1,#btn2,#btn3,#btn4,#btn5,#btn6,#btn7,#btn8,#btn9{
background-color: blue;
color:bisque;

}
#btnsuma,#btndivi,#btnmulti{
background-color: darkcyan;
color:bisque;



}
table{


}